<html>
    <head>
        <meta charset="UTF-8">
        <title>Routine Builder</title>
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    </head>
    <body>
        <header>
            <span class="homeLink"><a href="/">Routine Builder</a></span>
            <span class="pageLink" id="barsLink"><a href="/bars">Bars</a></span>
            <span class="pageLink" id="beamLink"><a href="/beam">Beam</a></span>
            <span class="pageLink" id="floorLink"><a href="/floor">Floor</a></span>
            <span class="pageLink" id="resourcesLink"><a href="/resources">Guide</a></span>
            <span class="pageLink" id="feedbackLink"><a href="/feedback">Give Feedback</a></span>
        </header>
        <main>
            {{{body}}}
        </main>
    </body>
</html>