<div class="container">
    <h3>Feedback submitted!</h3>
    <a href="/">Home</a>
    <br>
    <br>
    <br>
    <!-- Image Source: http://clipart-library.com/clipart/347681.htm  -->
    <img src="/images/leap.jpg">
</div>

<script> </script>