<div class="container">

    <div class="split">
        <div class="leftSplit">
            <h1>How to Use</h1>
            <p>Choose an apparatus from the bar at the top of the screen - <a href="/bars">Bars</a>, <a href="/beam">Beam</a>, or <a href="/floor">Floor</a>. From there, add individual skills to your routine by clicking the Add Skill button. Your options will appear to the right. As you add skills, the D-Score of the routine will be updated and displayed at the bottom left.</p>
            <p>To connect one skill to another, click on the &#xFF0B icon next to the skill you want to connect. To delete a skill from a connection, click on the &#x232B icon. Finally, to delete an entire row of connected skills, click on the &#x24CD icon.</p>
            <p>Sometimes, you will not be able to add, connect, or delete skills. This is because doing so would result in a routine that is impossible to perform. For example, on bars, you often cannot remove transitions between the bars as this would result in the gymnast being on one bar one second and the other bar the next. As another example, on beam, you cannot add any additional skills once the dismount has been performed. The add and delete buttons will be disabled in such cases.</p>
        </div>
        <div class="rightSplit">
            <!-- Image Source: http://clipart-library.com/clipart/1884111.htm -->
            <img src="/images/bhs1.jpg">
        </div>
    </div>

    <div class="noSplit">
        <h1>How Scores Are Calculated</h1>
        <p>Each skill is assigned a Difficulty Value, ranging from A (0.1 points) to J (1 point). The seven skills with the highest Difficulty Values, plus the dismount, are added together to form the basis of the Difficulty Score (D-Score). On beam and floor, the skills that count toward the D-Score must be well-split between acro and dance. The gymnast is also awarded Connection Value (CV) for certain connections. Finally, each apparatus has a group of four Composition Requirements (CR) that are each worth 0.5 points. To maximize her score, a gymnast should fulfill all four Composition Requirements.</p>
        
        <div class="rules">
            <span class="subrules" id="barsRules">
                <h2>Bars</h2>
                <h3>Composition Requirements</h3>
                <img src="/images/barsCR.png">
                <h3>Connections that Earn Value</h3>
                <img src="/images/barsCV.png">
            </span>
            <span class="subrules" id="beamRules">
                <h2>Beam</h2>
                <h3>Composition Requirements</h3>
                <img src="/images/beamCR.png">
                <h3>Connections that Earn Value</h3>
                <img src="/images/beamCV1.png">
                <img src="/images/beamCV2.png">
            </span>
            <span class="subrules" id="floorRules">
                <h2>Floor</h2>
                <h3>Composition Requirements</h3>
                <img src="/images/floorCR.png">
                <h3>Connections that Earn Value</h3>
                <img src="/images/floorCV.png">
            </span>
        </div>

        <br>
        <p>To view the full rules that govern the scoring for each apparatus, you can download the Code of Points using the link below.</p>
        <a href="/download">Download Code of Points</a>
    </div>
    
    <div class="noSplit">
        <h1>External Resources</h1>
        <p>The links below are great resources for learning more about women's gymnastics.</p>
        <a href="https://wagymnastics.fandom.com/wiki/Gymnastics_Wiki">https://wagymnastics.fandom.com/wiki/Gymnastics_Wiki</a>
        <br>
        <a href="https://thegymter.net/">https://thegymter.net/</a>
    </div>
</div>
<script src="/js/resources.js"> </script>